<turbo-stream action="replace" target="cards_group_results">
    <template>
        <div id="user_euromillions_group_results">
            {{ dump(test) }}
        </div>
    </template>
</turbo-stream>