{% extends 'base.html.twig' %}

{% block title %}CJPG? - Acceuil{% endblock %}

{% block body %}
    <main class="p-6">
        <p>
            // texte de bienvenue
        </p>
    </main>
{% endblock %}
