{% extends 'base.html.twig' %}

{% block title %}CJPG? - Acceuil{% endblock %}

{% block body %}
    <main class="flex flex-wrap justify-center p-6">
        <p class="block my-6 mx-auto p-4 w-fit rounded-lg bg-white text-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.25),0_10px_20px_-2px_rgba(0,0,0,0.25)] dark:bg-neutral-700">
            Bienvenue sur "Combien J'ai Pas Gagné" (CJPG) !<br>
            <br>
            CJPG est une plateforme conçue pour les passionnés ou les curieux de l'Euromillions et du Loto. Sans
            inscription nécessaire, elle vous permet de satisfaire votre curiosité sur les tirages passés et de
            découvrir si vos numéros préférés auraient été gagnants.<br>
            <br>
            Notre fonction de recherche de tirages vous donne la possibilité de consulter les tirages gagnants de
            n'importe quelle date précédente. Ainsi, si vous cherchez à satisfaire votre curiosité, CJPG est là pour
            vous aider.<br>
            <br>
            Pour ceux qui aiment choisir leurs propres numéros, les grilles Euromillions et Loto vous offre
            l'opportunité de recréer votre propre sélection. Vous pourrez ainsi voir si votre combinaison aurait été
            gagnante dans le passé.<br>
            <br>
            CJPG est plus qu'un simple outil de recherche de loterie, c'est une façon de revivre l'excitation des
            tirages de l'Euromillions et du Loto, sans la déception de perdre. Nous travaillons constamment pour
            améliorer notre plateforme et vous fournir la meilleure expérience possible. Nous tenons à souligner que la
            loterie est un jeu de hasard, et il n'est pas possible de prédire les prochains tirages gagnants en se
            basant sur ceux déjà passés. Chaque tirage est indépendant et offre les mêmes chances à tous les
            numéros.<br>
            <br>
            Jouer à la loterie peut être une expérience excitante et amusante, mais il est important de le faire de
            manière responsable. Si vous, ou une personne que vous connaissez, rencontrez des problèmes liés au jeu,
            n'hésitez pas à chercher de l'aide. La dépendance aux jeux est une problématique sérieuse, et il existe de
            nombreuses ressources disponibles pour vous aider.<br>
            <br>
            Plongez-vous dans le monde de l'Euromillions et du Loto comme jamais auparavant avec CJPG. Nous sommes
            impatients de vous aider à découvrir tous les "si seulement" des tirages passés.<br>
        </p>
    </main>
{% endblock %}
