{% extends 'base.html.twig' %}

{% block title %}Tous les tirages Euromillions{% endblock %}

{% block body %}
    <main class="flex flex-wrap justify-center p-6">
        {#        {{ dump(allDrawsEuromillions) }} #}
        {% for drawEuromillions in allDrawsEuromillions %}

        {% endfor %}
    </main>
{% endblock %}
